/armstrongOrNot.class
/specialSumOfArray.class
/rectangularNumbers.class
/sumOfPowersOfThree.class
/frequencyPalindrome.class
/warNinjaLand.class
/linkedListMatrix.class
/linkedListMatrix$Runner.class
/Runner.class
/Node.class
/sol$linkedListMatrix.class
/sol.class
/Solution$linkedListMatrix.class
/Solution.class
